<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="wrapper">
    <div>
      <img id="video" src="/images/test.png"/>
    </div>
    <div>
      <h2>Mask weared: <%= n_mask_weared %></h2>
      <h2>Mask off: <%= n_mask_off %></h2>
      <h2>...</h2>
    </div>
  </div>
</body>

</html>